/* MEDIA PRINT */
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
  
  .remakr-slide {
    background-color: transparent;
  }
  
  .inverse {
    background-color: white;
    color: black
  }

  .inverse h1, .inverse h2, .inverse h3 {
      color: black;
  }
}
